.main-footer
  font-size: 1rem
  padding: 2em 0 10em 0
  width: 100%
  width: 100vw
  text-align: center

  &__people
    height: 20em
    background: url('/images/people.jpg') no-repeat center center
    background-size: cover
    margin-bottom: 3em

  &__link
    img
      vertical-align: bottom
      margin-right: .2em
