.section
  font-size: 1rem
  margin: emCalc(100) 0

  &__header, &__content, &__call-to-action
    width: 90%
    max-width: emCalc(740)
    margin: 0 auto

  &__content
    padding: emCalc(40) emCalc(20)
    background: rgba(white, .4)

  &__call-to-action
    text-align: center
    background: rgba(white, .4)
    padding: 0 emCalc(20) emCalc(40) emCalc(20)